<!-- .stripes -->
<div id="stripes-container" class="stripes sc-3 secondary-content">
    <div id="custom_html-3" class="widget_text widget stripes-widget widget_custom_html">
        <h4 class="widget-title stripes-widget-title"></h4>
        <div class="content widget-content stripes-widget-content">
            <div class="textwidget custom-html-widget">
                <div class="widget -dark amp-include" id="ai-detection">
                    <div class="description"><strong class="heading4 widget-title -bottom-gap-lg"> The Most Sophisticated AI-driven Detection and Defense </strong>
                        <div class="columns">
                            <div class="column -w-6-in-lvl2">
                                <ul class="bulleted-list">
                                    <li><span class="bullet print-exclude amp-exclude"> <span> <svg class="fill-white" height="17" width="17" role="img" title="check" viewbox="0 0 270 270"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ assets }}/check.svg#check"></use> </svg> </span> </span>
                                        <strong> <span class="display-block fz-to-x5large">Detect</span> Detect more threats in more places with 90% fewer false positives. </strong></li>
                                    <li><span class="bullet print-exclude amp-exclude"> <span> <svg class="fill-white" height="17" width="17" role="img" title="check" viewbox="0 0 270 270"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ assets }}/check.svg#check"></use> </svg> </span> </span>
                                        <strong> <span class="display-block fz-to-x5large">Defend</span> Block attacks in real time and resolve incidents in minutes not months. </strong></li>
                                    <li><span class="bullet print-exclude amp-exclude"> <span> <svg class="fill-white" height="17" width="17" role="img" title="check" viewbox="0 0 270 270"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ assets }}/check.svg#check"></use> </svg> </span> </span>
                                        <strong> <span class="display-block fz-to-x5large">Hunt</span> Hunt with complete user, host and network visibility at any level. </strong></li>
                                </ul>
                            </div>
                            <div class="column -w-6-in-lvl2">
                                <picture>
                                    <source type="image/webp" data-srcset="{{ domain_path }}/wp-content/uploads/assets/computers/display-dashboard.webp">
                                    <source data-srcset="{{ domain_path }}/wp-content/uploads/assets/computers/display-dashboard.png">
                                    <img class="lazyload center" data-src="{{ domain_path }}/wp-content/uploads/assets/computers/display-dashboard.png" alt="Display with a dashboard on screen"></picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="custom_html-4" class="widget_text widget stripes-widget widget_custom_html">
        <h4 class="widget-title stripes-widget-title"></h4>
        <div class="content widget-content stripes-widget-content">
            <div class="textwidget custom-html-widget">
                <div class="widget text-container" id="text-container-02"><strong class="heading4 widget-title">CyberMist from MistNet</strong>
                    <div class="description">
                        <p class="fz-to-xlarge tcenter">CyberMist is the first AI-driven platform providing complete visibility across user, host, and network with the ability to expose and block threats in real-time.</p>
                        <div class="infographics">
                            <div class="columns item">
                                <div class="column -w-3-in-lvl2 item-graphic print-exclude">
                                    <picture>
                                        <source type="image/webp" data-srcset="{{ domain_path }}/wp-content/uploads/assets/01.webp">
                                        <source data-srcset="{{ domain_path }}/wp-content/uploads/assets/01.png">
                                        <img class="lazyload center" data-src="{{ domain_path }}/wp-content/uploads/assets/01.png" alt="Chronometer"></picture>
                                </div>
                                <div class="column -w-6-in-lvl2 padding-base-y no-padding-bottom item-content"><strong>Instant Visibility</strong>
                                    <p>Installs in less than one hour with immediate visibility into user, host, and network enterprise-wide</p>
                                </div>
                                <div class="column -w-3-in-lvl2 padding-base-y item-line print-exclude">
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="columns item -odd">
                                <div class="column -w-3-in-lvl2 item-graphic -order-2-in-lvl2 print-exclude">
                                    <picture>
                                        <source type="image/webp" data-srcset="{{ domain_path }}/wp-content/uploads/assets/02.webp">
                                        <source data-srcset="{{ domain_path }}/wp-content/uploads/assets/02.png">
                                        <img class="lazyload center " data-src="{{ domain_path }}/wp-content/uploads/assets/02.png" alt="Pie chart"></picture>
                                </div>
                                <div class="column -w-6-in-lvl2 padding-base-y no-padding-bottom item-content"><strong>Cognitive Detection</strong>
                                    <p>AI continuously learns enterprise environment reducing false positives by 90% while providing the most complete threat detection coverage available</p>
                                </div>
                                <div class="column -w-3-in-lvl2 padding-base-y item-line -order--1-in-lvl2 print-exclude">
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="columns item">
                                <div class="column -w-3-in-lvl2 tcenter item-graphic print-exclude">
                                    <picture>
                                        <source type="image/webp" data-srcset="{{ domain_path }}/wp-content/uploads/assets/03.webp">
                                        <source data-srcset="{{ domain_path }}/wp-content/uploads/assets/03.png">
                                        <img class="lazyload center " data-src="{{ domain_path }}/wp-content/uploads/assets/03.png" alt="Shield"></picture>
                                </div>
                                <div class="column -w-6-in-lvl2 padding-base-y no-padding-bottom item-content"><strong>Dependable Defense</strong>
                                    <p>Autonomously blocks attacks and attackers before they breach your data</p>
                                </div>
                                <div class="column -w-3-in-lvl2 padding-base-y item-line print-exclude">
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="columns item -odd -last">
                                <div class="column -w-3-in-lvl2 item-line -order--1-in-lvl2 print-exclude">
                                    <div class="line"></div>
                                </div>
                                <div class="column -w-3-in-lvl2 item-graphic -order-2-in-lvl2 print-exclude">
                                    <picture>
                                        <source type="image/webp" data-srcset="{{ domain_path }}/wp-content/uploads/assets/04.webp">
                                        <source data-srcset="{{ domain_path }}/wp-content/uploads/assets/04.png">
                                        <img class="lazyload center" data-src="{{ domain_path }}/wp-content/uploads/assets/04.png" alt="Simple random sample"></picture>
                                </div>
                                <div class="column -w-6-in-lvl2 item-content padding-base-y"><strong>Effective Hunting</strong>
                                    <p>Explore and playback enterprise-wide user, host and network activity and use AI to simplify compliance audits and accelerate investigations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="custom_html-9" class="widget_text widget stripes-widget widget_custom_html">
        <h4 class="widget-title stripes-widget-title"></h4>
        <div class="content widget-content stripes-widget-content">
            <div class="textwidget custom-html-widget">
                <div class="widget testimonials" id="testimonials">
                    <div class="description">
                        <div class="columns">
                            <div class="column -w-4-in-lvl3">
                                <div class="quote bg-black color-white">
                                    <p>&ldquo;Mistnet&rsquo;s big value is that it automatically hunts for the threats that have successfully bypassed other security tools. It does this through deep packet inspection and applied machine learning to determine what traffic is normal, per user or host,
                                        and what is out of that norm. Along with a continuous re-evaluation of traffic patterns against attack methods, MistNet provides us with very intelligent and actionable security alerts.&rdquo;</p>
                                    <div><strong class="name">CISO, Fortune 1000 Technology Company</strong></div>
                                </div>
                            </div>
                            <div class="column -w-4-in-lvl3">
                                <div class="quote bg-black color-white">
                                    <p>&ldquo;Security teams are oftentimes lean and simply don't have the time to sift through countless alerts and alarms. With CyberMist, security teams can gain instant visibility across the entire enterprise. Teams can monitor users, hosts, networks and all
                                        public cloud resources all from a single monitor. Plus the Mitre ATT&CK-assisted hunting allows teams to continually check for vulnerabilities and to stop attacks before they happen.&rdquo;</p>
                                    <div><strong class="name"> Vasu Kappettu, CTO Justia </strong></div>
                                </div>
                            </div>
                            <div class="column -w-4-in-lvl3">
                                <div class="quote bg-black color-white">
                                    <p>&ldquo;MistNet&rsquo;s CyberMist platform is truly transformative. Built on a modern, cloud-native security stack, CyberMist is capable of gathering the most accurate, most pervasive, security and ground truth data for an enterprise. The application of mist
                                        computing, combined with machine learning and deep learning, is a game-changer, yielding new levels of threat detection performance, hunting, and compliance.&rdquo;</p>
                                    <div><strong class="name"> Mike Elmore, Security Executive & Technologist </strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.stripes -->