<div class="imgwrap">
    <div id="img1">
        <div class="banner-wrapper amp-include">
            <div class="banner banner-01 -slideshow -disabled">
                <div class="slide slide-01">
                    <picture>
                        <source type="image/webp" media="(max-width: 1300px), 100vw"
                                srcset="{{ domain_path }}/wp-content/uploads/assets/01/320.webp 320w, {{ domain_path }}/wp-content/uploads/assets/01/750.webp 750w, {{ domain_path }}/wp-content/uploads/assets/01/975.webp 975w, {{ domain_path }}/wp-content/uploads/assets/01/1300.webp 1300w">
                        <source media="(max-width: 1300px), 100vw"
                                srcset="{{ domain_path }}/wp-content/uploads/assets/01/320.jpg 320w, {{ domain_path }}/wp-content/uploads/assets/01/750.jpg 750w, {{ domain_path }}/wp-content/uploads/assets/01/975.jpg 975w, {{ domain_path }}/wp-content/uploads/assets/01/1300.jpg 1300w">
                        <img src="{{ domain_path }}/wp-content/uploads/assets/01/1300.jpg" alt="Circles with numbers simulating a solar system"></picture>
                    <div class="banner-tagline">
                        <div class="wrapper">
                            <div class="text"><h1 class="heading1">Introducing CyberMist— <span class="display-inlineb">AI-driven Threat Detection</span></h1> <span>Simple, sophisticated, scalable solutions for the modern zero-trust enterprise</span>
                                <div class="btn-container amp-exclude tleft"><a href="{{ domain_path }}/contact-us/" class="btn -cta">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-02">
                    <picture>
                        <source type="image/webp" media="(max-width: 1300px), 100vw"
                                srcset="{{ domain_path }}/wp-content/uploads/assets/02/320.webp 320w, {{ domain_path }}/wp-content/uploads/assets/02/750.webp 750w, {{ domain_path }}/wp-content/uploads/assets/02/975.webp 975w, {{ domain_path }}/wp-content/uploads/assets/02/1300.webp 1300w">
                        <source media="(max-width: 1300px), 100vw"
                                srcset="{{ domain_path }}/wp-content/uploads/assets/02/320.jpg 320w, {{ domain_path }}/wp-content/uploads/assets/02/750.jpg 750w, {{ domain_path }}/wp-content/uploads/assets/02/975.jpg 975w, {{ domain_path }}/wp-content/uploads/assets/02/1300.jpg 1300w">
                        <img src="{{ domain_path }}/wp-content/uploads/assets/02/1300.jpg" alt="Computer screen with a dashboard"></picture>
                    <div class="banner-tagline">
                        <div class="wrapper">
                            <div class="text"><strong class="heading1">CyberMist Detector— <span class="display-inlineb">Detect more. Alert less.</span></strong> <span>Most threat coverage per industry standards</span>
                                <div class="btn-container tleft amp-exclude"><a href="{{ domain_path }}/contact-us/" class="btn -cta">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-03">
                    <picture>
                        <source type="image/webp" media="(max-width: 1300px), 100vw"
                                srcset="{{ domain_path }}/wp-content/uploads/assets/03/320.webp 320w, {{ domain_path }}/wp-content/uploads/assets/03/750.webp 750w, {{ domain_path }}/wp-content/uploads/assets/03/975.webp 975w, {{ domain_path }}/wp-content/uploads/assets/03/1300.webp 1300w">
                        <source media="(max-width: 1300px), 100vw"
                                srcset="{{ domain_path }}/wp-content/uploads/assets/03/320.jpg 320w, {{ domain_path }}/wp-content/uploads/assets/03/750.jpg 750w, {{ domain_path }}/wp-content/uploads/assets/03/975.jpg 975w, {{ domain_path }}/wp-content/uploads/assets/03/1300.jpg 1300w">
                        <img src="{{ domain_path }}/wp-content/uploads/assets/03/1300.jpg" alt="Computer screen with a visual representation of a network"></picture>
                    <div class="banner-tagline">
                        <div class="wrapper">
                            <div class="text"><strong class="heading1"> CyberMist Hunter— <span class="display-inlineb">Hunt like a pro.</span> </strong> <span> Full-text, graph, or query search of all<br> activity across the enterprise <span> <div class="btn-container tleft amp-exclude">
                                            <a href="{{ domain_path }}/contact-us/" class="btn -cta">Learn More</a> </div> </span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
